<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737767327356-oqfh8rkk5o52thkiafjqfslvpfk2rk9o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737767327356-oqfh8rkk5o52thkiafjqfslvpfk2rk9o</string>
	<key>API_KEY</key>
	<string>AIzaSyDXEfSsWLgAjLh2Lwz6PKW-V0L2q5t4Gqo</string>
	<key>GCM_SENDER_ID</key>
	<string>737767327356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soleeklab.Login-Form</string>
	<key>PROJECT_ID</key>
	<string>login-form-d31e3</string>
	<key>STORAGE_BUCKET</key>
	<string>login-form-d31e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737767327356:ios:904d13bf40c144ea</string>
	<key>DATABASE_URL</key>
	<string>https://login-form-d31e3.firebaseio.com</string>
</dict>
</plist>